body , footer{
  color: #384F93;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #384F93;

}

legend{
  color: #269abc;
}

.navbar{
  border-radius: 0px;
  background-color:#384F93;
  border-color:#384F93;
}



.header-image{
  background-image: url("/images/digits.jpg");
  background-size: cover;
  height :  180px;
}

.navbar-inverse .navbar-brand{
  color: #d1d1d1;
}

.navbar a.dropdown-toggle{
  color:#d1d1d1;
}